  body{
    font-family: Cambria;
        background-image: url("background.gif");
    }


    #wrapper{

        width: 100%;
        margin: 0 auto;
        min-width: 680px;
        padding-left: 0px;
        border: solid;

    }

    #header{
        float: left;
        margin: 0 auto;
        height: 10%;
        width: 100%;
        background-color:rgb(211,211,211);
    }


    #titre{
        padding-left: 5%;
        padding-top: 20px;
        float: left;
        width: 60%;
        height: 200px;
        background-color: rgb(211,211,211);
         }
    
    #logo{
        float: left;
        padding-top: 20px;
        padding-left: 8.1%;
        width: 25%;
        height: 200px;
        background-color: rgb(211,211,211);

    }

nav{
    font-size: 110%;
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    float: left;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: rgb(0, 194, 203);
    border-bottom: 2px;
}
    nav ul{
        list-style-type: none;
    }
    nav li{
        float: left;
        width: 19%;
        text-align: center;

    }


    nav ul::after{
        content:"";
        display: table;
        clear: both;
    }



     #content {
        float: left;
        width: 100%;
        padding-left:2%;
     
  
        height: auto;

    }
    #texteFooter{
        font-size: 20px;
        padding-top: 4%;
        width: 60%;
        float: left;
        padding-left: 20%;
    }
    #footer{
        width: 100%;
        float: left;
        background-color: rgb(211,211,211);
        text-align: center;
    }
    #carte{
        float: right;
        padding-right: 5%;
    }

    .PremierTitre{

  animation-duration: 3s;
  animation-name: slidein;
  font-size: 250%;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
    }


    }

    * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
    width: 30%;
height: 20%;
  padding-top: 25%;
  filter: drop-shadow(0 0 10px #0003);
  float: left;
  perspective: 100px;
  padding-left: 5%;
margin: 5%
}


.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}



.carousel__viewport:hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  color: red;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}


.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  scroll-snap-align: center;
}
.carousel__snapper:hover{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  scroll-snap-align: center;
  color: red;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}


.overlay-image {
    float: left;
 position: relative;
 width: 100%;
 height: 100%;
}

/* Image originale */
.overlay-image .image {
 display: block;
 width: 100%;
 height: 100%;
}

/* Texte original */
.overlay-image .text {
 color: black;
 font-size: 250%;
 font-family: Arial;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}


/* Overlay */
.overlay-image .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
}

/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {

 opacity: 1;
}

@keyframes derouler {
     0% {
         transform: translateX(0);
    }
     100% {
         transform: translateX(calc(-250px * 4));
    }
}
 .slider {
     background: white;
     box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
     height: 30%;
     float: left;
     margin: auto;
     overflow: hidden;
     position: relative;
     width: 100%;
     align-content: center;
}
 .slider::before, .slider::after {
     background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
     content: "";
     height: 40%;
     position: absolute;
     z-index: 2;
}
 .slider::after {
     right: 0;
     top: 0;
     transform: rotateZ(180deg);
}
 .slider::before {
     left: 0;
     top: 0;
}
 .slider .slide-track {
     animation: derouler 15s linear infinite;
     display: flex;
     width: calc(25% * 4);
}
 .slider .slide {
    margin-left: 2%;
     width: 30%;
     border-color: black;
}
